
{% extends 'orders/base.html'%}
{% load static %}

{% block title %}Pinochio's Register{% endblock %}

{% block head %}
 <script src="{% static 'orders/javascript/register.js' %}"></script>
 <link rel="stylesheet" href="{% static 'orders/css/register.css' %}">
{% endblock %}

{% block body %}
<article>
  <h2>Registration</h2>
  <section>
    <form action="{% url 'register' %}" method="post" id="regform" class="form">
      {% csrf_token %}
      <fieldset>
        <legend>Enter your details</legend>
        <label for="username">Username: </label><input type="text" name="username" id="username" title="Username">
        <label for="regpass">Password: </label><input type="password" name="pass" id="regpass" title="Password" autocomplete="new-password">
        <label for="confpass">Confirm Password:</label><input type="password" name="confpass" id="confpass" title="Confirmed Password" autocomplete="off">
        <label for="regemail">Email: </label><input type="email" name="email" id="regemail" title="Email" autocomplete="email">
        <label for="confemail">Confirm Email: </label><input type="email" name="confemail" id="confemail" title="Confirmed Email" autocomplete="email">
        <label for="firstname">First Name: </label><input type="text" name="firstname" id="firstname" title="First Name" autocomplete="given-name">
        <label for="lastname">Last Name: </label><input type="text" name="lastname" id="lastname" title="Last Name" autocomplete="family-name">
        <div><button type="submit" id="regbtn">Register</button></div>
      </fieldset>
    </form>
    <p id="comment"></p>
  </section>
</article>
{% endblock %}
        